:root {
    --grid_color: white;
}

body {
    background-color: rgb(241, 244, 250);
    color:rgb(46, 45, 54);
}

.container {
    display: grid;
    width: 250px;
    height: 200px;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    border-color: rgb(74, 73, 85);
    padding: 10px;
    column-gap: 50px;
    margin-left: 20px;
    justify-content: center;
}

h4 {
    margin: 0px;
    margin-top: 10px;
}



.grid-container {
    display: grid;
    /*grid-template-columns: 1fr 1fr 1.5fr 1.5fr;
    grid-template-rows: repeat(2, 1fr);*/
    grid-template-columns: 350px 350px;
    grid-template-rows: 1fr 190px 190px 1fr;
    grid-gap: 10px;
    grid-auto-flow: row;
    padding: 10px;
}

.grid-item {
    background-color: var(--grid_color);
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    border-color: rgb(189, 187, 199);
}
.grid-item.span-two-columns {
  grid-column: span 2;
}
.grid-item.span-two-rows {
  grid-row: span 2;
}
.cont {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}
.cent-hor {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.slider {
    width: 250px;
    margin: 10px 0;
}


.mdl-data-table tbody tr {
    height: 35px;

}


.mdl-data-table td {
    padding: 3px 18px;
    height: 22px;
    text-align: center;
}

.mdl-data-table {
    background-color: var(--grid_color);
    border-width: 0px;
}

.mdl-data-table__cell--non-numeric.mdl-data-table__cell--non-numeric {
    text-align: center;
}
